<html>
    <head>
    	<meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="styles.css" ></link>
        <title>CSM Scraper Control</title>
    </head>
    <body>
		<div class="content">
			<h1>CSM Scraper</h1>
			<div class="status">
				
				<span><img class="scraperStatus" src="scraperStatus.svg"><%- status %></span> <!-- Green: Running; Blue: Ready; Red: Stopped; -->
				<span>Books scraped: <%- bookCount %></span>
<span>CSV size: <%- csvSize %></span>
<span>JSON size: <%- jsonSize %></span>
				<button id="start">Start</button>
				<button id="stop">Stop</button>
				<button id="pause">Pause</button>
				<a href="/json">Download as JSON</a>
				<a href="/csv">Download as CSV</a>
			</div>
			<div class="logs"><%- logs %></div>
			</div>
        <script src="script.js"></script>
    </body>
</html>

