<html>
    <head>
    	<meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="styles.css" ></link>
        <title>CSM Scraper Control</title>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
		<div class="content">
			<h1>CSM Scraper</h1>
			<div class="status">
				
				<span><img class="scraperStatus" src="scraperStatus.svg"><span id="status"><%- status %></span></span> <!-- Green: Running; Blue: Ready; Red: Stopped; -->
				<span id="bookCount">Books scraped: <%- bookCount %></span>
				<span id="csvSize">CSV size: <%- csvSize %></span>
				<span id="jsonSize">JSON size: <%- jsonSize %></span>
				<button id="start" <%- startButtonDisabled %>>Start</button>
				<button id="stop" <%- stopButtonDisabled %>>Stop</button>
				<button id="pause" <%- pauseButtonDisabled %>>Pause</button>
				<a href="/books.json">Download as JSON</a>
				<a href="/books.csv">Download as CSV</a>
			</div>
			<div class="logs"><%- logs %></div>
			</div>
        <script src="script.js"></script>
    </body>
</html>

